/* Adhish Bahl */

/* Event Deatils CSS */
.event-container {
    z-index: 100;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
}

.event-container .event-sidebar .event-overview .event-banner {
    z-index: 105;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 56vw;
    height: 40vh;
    left: 20%;
    gap: 1rem;
    margin: 2rem;
}

.event-container .event-sidebar .event-overview .event-banner .event-header {
    font-size: 60px;
    font-weight: 900;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 8px 8px 8px #A614C5;
}

.event-container .event-sidebar .event-overview .event-banner .event-tag {
    font-size: 40px;
    color: white;
}

.event-container .event-sidebar .event-overview .event-banner :is(.event-head, .event-date, .event-time) {
    color: white;
}


.event-container .event-sidebar .event-overview .event-details {
    text-align: justify;
    color: white;
    margin: 1rem 0;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
    padding: 2rem;
    padding-right: 45vw;
    /* margin: 2rem; */
    position: absolute;
    width: 100vw;
}

.event-container .event-sidebar .event-overview .event-details .event-details-heading {
    font-weight: bold;
    margin: 1rem 0rem;
}

.event-container .event-sidebar .event-overview .event-details .event-des {
    font-size: 1rem;
}

.event-container .event-sidebar .event-overview .event-details .event-des .event-des-subheading {
    font-weight: bold;
}

.event-container .event-sidebar .event-overview img {
    position: absolute;
    width: 60%;
    inset: 0;
    margin: auto;
    clip-path: ellipse(50% 45% at 50% 50%);
    z-index: -10;
    top: 50px;
    filter: blur(20px);
    transform: translateY(15%);
    transition: filter 0.6s ease, transform 0.6s ease;
}

.event-container .event-sidebar .event-overview.active img{
    filter: none;
    transform: none;
}


.event-container .event-form {
    /* border: 1px white solid; */
    height: fit-content;
    color: white;
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.69);
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
}

.event-container .event-form .registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.752); */
    z-index: 105;
    flex-direction: column;
    width: 32vw;
    margin: 1rem 2rem;
    /* border: 1px white solid; */
    min-height: 50vh;
}

.event-container .event-form .registration-form input {
    width: 70%;
    margin: 0.5rem;
    font-size: 1.3rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.event-container .event-form form {
   
}

.event-container .event-form .registration-form .event-btn-container {
    position: relative;
    display: grid;
    place-items: center;
    height: 60px;
    margin-top: 1rem;
}

.event-container .event-form .registration-form .event-btn-container button.event-cta {
    width: 99%;
    height: 96%;
    background-color: #000;
    color: white;
    font-size: 16px;
    z-index: 105;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
}

.event-container .event-form .registration-form .event-btn-container .event-cta-bg {
    position: absolute;
    z-index: 100;
    background: #fff;
    height: 100%;
    width: 100%;
    inset: 0;
    margin: auto;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
    transition: background 0.4s ease;
}

.event-container .event-form .registration-form .event-btn-container:hover .event-cta{
    transform: scale(0.98);
}

.event-container .event-form .registration-form .event-btn-container:hover .event-cta-bg{
    background: linear-gradient(45deg, #13053D, #700B85, #103C63);
    background-size: 200% 200%;
    animation: pulsate-btn linear 2s infinite;
}

@keyframes pulsate-btn {
    0%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 50% 100%;
    }
}