/*Home CSS*/

/*==========Hero Section==========*/

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.hero .event-loading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}

.hero .event-loading .event-loading-text span {
    font-weight: 900;
    font-size: 128px;
    color: white;
    text-shadow: 8px 8px 8px #A614C5;
}

.hero .event-slides {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: none;
    padding: 100px 0 0 0;
}

.hero .event-slides .event-slide-container {
    flex-basis: 90%;
    flex-grow: 0;
}

.hero .event-slides .event-slide-container .event-slide {
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.4s ease;
}

.hero .event-slides .event-slide-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 100;
    filter: brightness(20%);
    background: linear-gradient(to bottom, transparent 0%, transparent 80%, #000 90%, #000 100%);
}

.hero .event-slides .event-slide-container .event-slide.active{
    opacity: 1;
}

.hero .event-slides .event-slide-container .event-slide.none{
    display: none;
}

.hero .event-slides .event-slide-container .event-slide .event-content {
    position: absolute;
    z-index: 105;
    display: flex;
    flex-direction: column;
    width: 500px;
    left: 20%;
    gap: 1rem;
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-header {
    font-size: 60px;
    font-weight: 900;
    color: white;
    letter-spacing: 5px;
    text-shadow: 4px 4px 4px #A614C5;
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-tag {
    font-size: 40px;
    color: white;
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-des {
    text-align: justify;
    color: white;
    margin: 1rem 0;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
    padding: 5px;
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-btn-container {
    position: relative;
    display: grid;
    place-items: center;
    height: 80px;
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-btn-container button.event-cta {
    width: 99%;
    height: 96%;
    background-color: #000;
    color: white;
    font-size: 24px;
    z-index: 105;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-btn-container .event-cta-bg {
    position: absolute;
    z-index: 100;
    background: #fff;
    height: 100%;
    width: 100%;
    inset: 0;
    margin: auto;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
    transition: background 0.4s ease;
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-btn-container:hover .event-cta{
    transform: scale(0.98);
}

.hero .event-slides .event-slide-container .event-slide .event-content .event-btn-container:hover .event-cta-bg{
    background: linear-gradient(45deg, #13053D, #700B85, #103C63);
    background-size: 200% 200%;
    animation: pulsate-btn linear 2s infinite;
}

@keyframes pulsate-btn {
    0%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 50% 100%;
    }
}

.hero .event-slides .chip-outer {
    flex-basis: 10%;
    position: relative;
    display: flex;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    flex-shrink: 0;
    z-index: 110;
}

.hero .event-slides .event-chips-container {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    gap: 2rem;
    overflow-x: scroll;
    position: relative;
    z-index: 100;
    -ms-overflow-style: none;
    width: 50vw;
    transition: all 0.4s ease;
    overflow-y: hidden;
}

.hero .event-slides .event-chips-container::-webkit-scrollbar {
    display: none;
}

.hero .event-slides .chip-outer i {
    color: white;
    position: absolute;
    font-size: 1.5em;
    text-shadow: 4px 4px 4px #A614C5;
    height: 90%;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 105;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .event-slides .chip-outer i.fa-angle-left {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: linear-gradient(to right, #000, #000 60%, transparent);
}

.hero .event-slides .chip-outer i.fa-angle-right {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: linear-gradient(to left, #000, #000 60%, transparent);
}

.hero .event-slides .event-chips-container button {
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.2s ease;
}

.hero .event-slides .event-chips-container button.active{
    scale: 1.1;
    background: linear-gradient(90deg,rgb(16, 60, 99), rgb(112, 11, 133), rgb(19, 5, 61));
}

/*==========Hero Section End==========*/

/*==========Sponsors Section==========*/

.sponsors{
    background-color: #000;
    min-height: 100vh;
    position: relative;
    padding: 32px 0;
    width: 100vw;
}

.sponsors .sponsors-header{
    text-align: center;
}

.sponsors .sponsors-header span{
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-shadow: 4px 4px 8px #A614C5;
}

.sponsors .star-sponsor{
    margin-top: 100px;
}

.sponsors .star-sponsor .star-sponsor-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sponsors .star-sponsor .star-sponsor-header span{
    font-size: 56px;
    color: white;
    text-shadow: 4px 4px 8px #A614C5;
}

.sponsors .star-sponsor .star-sponsor-content{
    display: flex;
    align-items: stretch;
    width: 70vw;
    margin: 32px auto;
    gap: 32px;
}

.sponsors .star-sponsor .star-sponsor-content .star-logo-container{
    position: relative;
    flex-basis: 40%;
    display: grid;
    place-items: center;
}

.sponsors .star-sponsor .star-sponsor-content .star-logo-container .star-logo{
    height: 450px;
    width: 100%;
    background-color: rgba(0,0,0,1);
    color: white;
    display: grid;
    place-items: center;
    transition: all 0.4s ease;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
}

.sponsors .star-sponsor .star-sponsor-content .star-logo-container .logo-overlay{
    position: absolute;
    width: 101%;
    height: 101%;
    background-color: #fff;
    transition: all 0.4s ease;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
    background-size: 200% 200%;
}

.sponsors .star-sponsor .star-sponsor-content .star-logo-container:hover .logo-overlay{
    animation: pulsate-btn linear infinite 5s;
    background: linear-gradient(45deg, #13053D, #700B85, #103C63);
    background-size: 200% 200%;
}

.sponsors .star-sponsor .star-sponsor-content .star-logo-container:hover .star-logo{
    scale: 0.98;
}

.sponsors .star-sponsor .star-sponsor-content .star-text{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    justify-content: space-evenly;
}

.sponsors .star-sponsor .star-sponsor-content .star-text .star-name{
    font-size: 56px;
}

.sponsors .star-sponsor .star-sponsor-content .star-text .star-des{
    font-size: 20px;
}

.sponsors .star-sponsor .star-sponsor-content .star-text .star-cta {
    position: relative;
    height: 55px;
    width: 300px;
    display: grid;
    place-items: center;
}

.sponsors .star-sponsor .star-sponsor-content .star-text .star-cta a{
    height: 97%;
    width: 97%;
    padding: 0 24px;
    background-color: #000;
    color: white;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 105;
    transition: all 0.4s ease;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
}

.sponsors .star-sponsor .star-sponsor-content .star-text .star-cta .btn-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: all 0.4s ease;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
}

.sponsors .star-sponsor .star-sponsor-content .star-text .star-cta:hover a{
    transform: scale(0.98);
}

.sponsors .star-sponsor .star-sponsor-content .star-text .star-cta:hover .btn-overlay{
    background: linear-gradient(45deg, #13053D, #700B85, #103C63);
    background-size: 200% 200%;
    animation: pulsate-btn linear 2s infinite;
}
/*==========Sponsors Section End==========*/

