:root {
    --mouse-x: 0;
    --mouse-y: 0;
}

html {
    overflow-x: hidden;
}

.public-home {
    position: relative;
    z-index: 100;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") fixed;
    background-size: cover;
}

.public-home .blob {
    position: absolute;
    width: 50%;
    z-index: 1;
    filter: blur(5px);
}

.public-home .blob.glow {
    filter: blur(50px);
}

@media screen and (max-width: 991px) {
    .public-home .blob{
        display: none;
    }
}

.public-home .hero .hero-container .hero-left span, .about .about-container .about-header, .events .events-container .events-header, .sponsors .sponsors-container .sponsor-header, .guests .guests-container .guests-header, .events .events-container .events-grid .event-item span.hover-text, .events .events-container .events-grid .event-item span.hover-text2, .rules .rules-container .rules-header {
    font-family: 'Audiowide', cursive;
}

/*==========Hero Section==========*/
.public-home .hero {
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.public-home .hero .hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 48px;
}

.public-home .hero .hero-container > * {
    flex: 1;
}

@media screen and (max-width: 1320px) {
    .public-home .hero .hero-container {
        flex-direction: column-reverse;
    }

    .public-home .hero .hero-container > * {
        flex: none;
    }
}

.public-home .hero .t-minus {
    position: absolute;
    left: 0;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.public-home .hero .t-minus img.rocket {
    position: absolute;
    height: 100%;
    right: 8%;
    top: -10%;
    rotate: 60deg;
    animation: rocketMove 4s ease infinite alternate;
}

@keyframes rocketMove {
    0% {
        translate: 0 0;
        scale: 1;
    }

    25% {
        translate: -2% -5%;
        scale: 1.01;
    }

    50% {
        translate: 2% 4%;
        scale: 0.99;
    }

    75% {
        translate: 5% -5%;
        scale: 1.05;
    }

    100% {
        translate: 0 0;
        scale: 1;
    }
}

.public-home .hero .t-minus img.curly {
    height: 150px;
    filter: invert(1);
}

.public-home .hero .t-minus img.curly:nth-child(3) {
    rotate: 180deg;
}

.public-home .hero .t-minus .t-minus-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.public-home .hero .t-minus .t-minus-content .header {
    font-size: 20px;
    font-weight: bold;
}

.public-home .hero .t-minus .t-minus-content .countdown {
    display: flex;
    gap: 16px;
}

.public-home .hero .t-minus .t-minus-content .countdown .value {
    font-size: 24px;
}

.public-home .hero .t-minus .t-minus-content .countdown .time-unit {
    display: flex;
    flex-direction: column;
}

.public-home .hero .hero-container .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.public-home .hero .hero-container .hero-left span {
    color: white;
    font-size: 156px;
    position: relative;
}

.public-home .hero .hero-container .hero-right {
    display: grid;
    place-items: center;
}

.public-home .hero .hero-container .hero-right img {
    height: 80%;
    object-fit: contain;
    filter: drop-shadow(0 0 50px #974de0) brightness(120%);
}

@media screen and (max-width: 1320px) {
    .public-home .hero .hero-container .hero-left {
        flex-basis: 20%;
        flex-direction: row;
        column-gap: 10px;
        align-items: flex-end;
    }

    .public-home .hero .hero-container .hero-left span {
        font-size: 86px;
    }

    .public-home .hero .hero-container .hero-right {
        flex-basis: 80%;
    }

    .public-home .hero .hero-container .hero-right img {
        height: 380px;
        margin-top: 150px;
    }

    .public-home .hero .t-minus {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .public-home .hero .hero-container .hero-left span {
        font-size: 56px;
    }
}

@media screen and (max-width: 460px) {
    .public-home .hero .hero-container .hero-left span {
        font-size: 46px;
    }
}

@media screen and (max-width: 400px) {
    .public-home .hero .hero-container .hero-right img {
        height: 300px;
        margin-top: 150px;
    }

    .public-home .hero .hero-container .hero-left span {
        font-size: 36px;
    }
}

@media screen and (max-width: 360px) {
    .public-home .hero .hero-container .hero-right img {
        height: 280px;
        margin-top: 150px;
    }
}

/*==========Hero Section End==========*/

/*==========About Section==========*/

.about {
    position: relative;
    z-index: 115;
    margin-bottom: 100px;
    padding-top: 100px;
}

.about .about-container {
    padding: 48px 72px;
    position: relative;
    z-index: 115;
}

@media screen and (max-width: 600px) {
    .about .about-container {
        padding: 48px 32px;
    }
}

@media screen and (max-width: 400px) {
    .about .about-container {
        padding: 48px 16px;
    }
}

.about .about-container .about-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}

.about .about-container .about-header span {
    color: white;
    font-size: 56px;
    letter-spacing: 15px;
    background: linear-gradient(90deg, #fe7c62, #f33456, #974de0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: navbarUnderlay 5s ease infinite;
    display: inline-block;
    overflow-y: hidden;
}

@keyframes navbarUnderlay {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 991px) {
    .about .about-container .about-header {
        align-items: center;
    }
}

@media screen and (max-width: 769px) {
    .about .about-container .about-header span {
        font-size: 56px;
    }
}

@media screen and (max-width: 500px) {
    .about .about-container .about-header span {
        font-size: 36px;
    }
}

@media screen and (max-width: 390px) {
    .about .about-container .about-header span {
        font-size: 28px;
    }
}

.about .about-container .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 115;
}

@media screen and (max-width: 991px) {
    .about .about-container .about-content {
        flex-direction: column-reverse;
    }
}

.about .about-container .about-content .about-text {
    color: white;
    font-size: 24px;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 115;
    text-align: justify;
}

@media screen and (max-width: 676px) {
    .about .about-container .about-content .about-text {
        font-size: 18px;
    }
}

.about .about-container .about-content .about-text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    width: max-content;
}

.about .about-container .about-content .about-text a:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-image: linear-gradient(90deg, #fe7c62, #f33456, #974de0);
    left: 0;
    bottom: -20%;
    border-radius: 20px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.about .about-container .about-content .about-text a:hover:after {
    transform: scale(1);
    transform-origin: left;
}

.about .about-container .about-content .about-media {
    display: grid;
    place-items: center;
    flex-basis: 40%;
}

.about .about-container .about-content .about-media img {
    filter: blur(0);
}

@media screen and (max-width: 400px) {
    .about .about-container .about-content .about-media img {
        scale: 0.8;
    }
}

/*==========About Section End==========*/

/*==========Rules Section==========*/

.rules {
    position: relative;
    min-height: 100vh;
    z-index: 115;
    background-size: cover;
}

.rules .rules-container {
    padding: 48px 72px;
    position: relative;
    z-index: 115;
}

@media screen and (max-width: 600px) {
    .rules .rules-container {
        padding: 48px 32px;
    }
}

@media screen and (max-width: 400px) {
    .rules .rules-container {
        padding: 48px 16px;
    }
}

.rules .rules-container .rules-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}

.rules .rules-container .rules-header span {
    color: white;
    font-size: 76px;
    letter-spacing: 15px;
}

@media screen and (max-width: 991px) {
    .rules .rules-container .rules-header {
        align-items: center;
    }
}

@media screen and (max-width: 769px) {
    .rules .rules-container .rules-header span {
        font-size: 52px;
    }
}

@media screen and (max-width: 500px) {
    .rules .rules-container .rules-header span {
        font-size: 32px;
    }
}

@media screen and (max-width: 390px) {
    .rules .rules-container .rules-header span {
        font-size: 24px;
    }
}

.rules .rules-container .rules-content {
    position: relative;
    z-index: 115;
    padding-top: 50px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    font-size: 20px;
}

.rules .rules-container .rules-content .rule-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    position: relative;
    z-index: 115;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 16px;
    scale: 0.9;
    border-bottom: 4px solid #fe7c62;
}

@media screen and (max-width: 1280px) {
    .rules .rules-container .rules-content .rule-item{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 991px) {
    .rules .rules-container .rules-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 520px) {
    .rules .rules-container .rules-content{
        grid-template-columns: 1fr;
    }
}

.rules .rules-container .rules-content .rule-item span {
    position: relative;
    z-index: 115;
}

.rules .rules-container .rules-content .rule-item span.sno {
    background: linear-gradient(90deg, #fe7c62, #f33456, #974de0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
}

/*==========Rules Section End==========*/

/*==========Events Section==========*/

.events {
    position: relative;
    min-height: 100vh;
    z-index: 110;
    background-size: cover;
}

.events .blob:nth-child(1), .events .blob.glow:nth-child(2) {
    right: -10%;
    bottom: 25%;
}

.events .blob:nth-child(3), .events .blob.glow:nth-child(4) {
    left: -10%;
    top: -10%;
}

.events .blob:nth-child(5), .events .blob.glow:nth-child(6) {
    left: -10%;
    bottom: -10%;
}

.events .hero-blur {
    position: absolute;
    top: -12%;
    left: -10%;
    width: 120%;
    height: 200px;
    background-color: #000;
    filter: blur(20px);
}

@media screen and (max-width: 1420px) {
    .events .hero-blur {
        top: -8%;
    }
}

@media screen and (max-width: 991px) {
    .events .hero-blur {
        top: -6%;
    }
}

.events .events-container {
    padding: 48px 72px;
    position: relative;
    z-index: 115;
}

.events .events-container .event-show-all {
    text-align: center;
    margin-top: 20px;
}

.events .events-container .event-show-all button {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
}

.events .events-container .event-show-all button:before {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-image: linear-gradient(90deg, #fe7c62, #f33456, #974de0);
    left: 0;
    bottom: -20%;
    border-radius: 20px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.events .events-container .event-show-all button:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.events .events-container .event-show-all button i {
    animation: downPulse linear 1s infinite;
}

@keyframes downPulse {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}

.events .events-container .events-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}

.events .events-container .events-header span {
    color: white;
    font-size: 76px;
    letter-spacing: 15px;
}

@media screen and (max-width: 991px) {
    .events .events-container .events-header {
        align-items: center;
    }
}

@media screen and (max-width: 769px) {
    .events .events-container .events-header span {
        font-size: 56px;
    }
}

@media screen and (max-width: 500px) {
    .events .events-container .events-header span {
        font-size: 36px;
    }
}

@media screen and (max-width: 390px) {
    .events .events-container .events-header span {
        font-size: 28px;
    }
}

.events .events-container .events-grid {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 32px;
    row-gap: 200px;
    padding: 32px;
}

.events .events-container .events-grid .atropos {
    clip-path: none;
    width: 80%;
}

.events .events-container .events-grid .atropos .atropos-scale .atropos-rotate .atropos-inner {
    overflow: visible;
    display: grid;
    place-items: center;
}

.events .events-container .events-grid .event-item {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 350px;
    width: 90%;
    transition: all 0.2s ease;
}

.events .events-container .events-grid .event-item .event-bg {
    position: absolute;
    content: "";
    height: 101%;
    width: 101%;
    left: -0.5%;
    top: -0.5%;
    /*background: linear-gradient(45deg, #fe7c62, #f33456, #f33456, #974de0);*/
    animation: navbarUnderlay 2s linear infinite;
    background-size: 200% 200%;
    clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
}

.events .events-container .events-grid .event-item.event-even .event-bg {
    background: linear-gradient(45deg, #fe7c62, #f33456, #f33456, #974de0);
}

.events .events-container .events-grid .event-item.event-odd .event-bg {
    background: linear-gradient(45deg, #974de0, #f33456, #f33456, #fe7c62);
}

@keyframes navbarUnderlay {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.events .events-container .events-grid .event-item.event-even:hover .event-bg {
    box-shadow: 0 0 50px 15px #974de0;
    clip-path: none;
}

.events .events-container .events-grid .event-item.event-odd:hover .event-bg {
    box-shadow: 0 0 50px 15px #f33456;
    clip-path: none;
}

.events .events-container .events-grid .event-item .event-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(30%);
    z-index: 100;
    clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
}

.events .events-container .events-grid .event-item span.hover-text {
    position: absolute;
    top: -6%;
    left: -10%;
    color: white;
    font-size: 28px;
    z-index: 105;
    transition: all 0.2s ease;
    text-transform: uppercase;
}

.events .events-container .events-grid .event-item span.hover-text2 {
    position: absolute;
    top: -6%;
    left: -10%;
    color: #974de0;
    font-size: 28px;
    z-index: 104;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
}

.events .events-container .events-grid .event-item:hover span.hover-text {
    left: 18%;
}

.events .events-container .events-grid .event-item:hover span.hover-text2 {
    left: 18%;
}

.events .events-container .events-grid .event-item .event-top {
    flex-basis: 75%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 105;
    padding: 32px;
}

.events .events-container .events-grid .event-item .event-top span {
    font-size: 20px;
    color: white;
    text-align: center;
}

.events .events-container .events-grid .event-item .event-top span.event-name {
    color: #fe7c62;
}

.events .events-container .events-grid .event-item .event-bottom {
    flex-basis: 25%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    position: relative;
    z-index: 105;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
}

.events .events-container .events-grid .event-item .event-bottom .event-cta {
    width: 55%;
    height: 65%;
    background-color: #000;
    color: white;
    font-size: 22px;
    z-index: 105;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
}

.events .events-container .events-grid .event-item .event-bottom .event-cta a {
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.events .events-container .events-grid .event-item .event-bottom .event-cta-bg {
    position: absolute;
    z-index: 100;
    background: #fff;
    height: 68%;
    width: 56%;
    inset: 0;
    margin: auto;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
    transition: background 0.4s ease;
}

.events .events-container .events-grid .event-item .event-bottom .event-cta:hover {
    transform: scale(0.98);
}

.events .events-container .events-grid .event-item .event-bottom .event-cta:hover:hover + .event-cta-bg {
    background: linear-gradient(45deg, #fe7c62, #f33456, #f33456, #974de0);
}

@media screen and (max-width: 1650px) {
    .events .events-container .events-grid .event-item .event-bottom .event-cta {
        font-size: 18px;
        width: 54%;
        height: 59%;
    }
}

@media screen and (max-width: 1420px) {
    .events .events-container .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 991px) {
    .events .events-container .events-grid {
        grid-template-columns: 1fr;
        row-gap: 128px;
    }

    .events .events-container .events-grid .event-item {
        width: 80%;
    }
}

@media screen and (max-width: 756px) {
    .events .events-container .events-grid .event-item {
        width: 80%;
    }
}

@media screen and (max-width: 756px) {
    .events .events-container .events-grid .event-item {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .events .events-container {
        padding: 150px 32px;
    }
}

@media screen and (max-width: 500px) {
    .events .events-container {
        padding: 150px 16px;
    }

    .events .events-container .events-grid .atropos {
        width: 100%;
    }

    .events .events-container .events-grid .event-item {
        width: 100%;
    }

    .events .events-container .events-grid .event-item .event-bottom .event-cta {
        font-size: 18px;
        width: 60%;
        height: 55%;
    }

    .events .events-container .events-grid .event-item .event-bottom .event-cta-bg {
        width: 63%;
        height: 60%;
    }
}

@media screen and (max-width: 420px) {
    .events .events-container .events-grid .atropos {
        width: 100%;
    }

    .events .events-container .events-grid {
        padding: 32px 16px;
    }

    .events .events-container .events-grid .event-item span.hover-text {
        font-size: 24px;
        top: -6%;
        left: -6%;
    }

    .events .events-container .events-grid .event-item span.hover-text2 {
        font-size: 24px;
        top: -6%;
        left: -6%;
    }

    .events .events-container .events-grid .event-item .event-top span {
        font-size: 16px;
    }
}

/*==========Events Section End==========*/

/*==========Sponsors Section==========*/

.sponsors {
    position: relative;
    min-height: 100vh;
    /*background-color: #1d0728;*/
    /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    /*background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("https://w.wallhaven.cc/full/lm/wallhaven-lm35vp.jpg");*/
}

.sponsors .blob:nth-child(1), .sponsors .blob.glow:nth-child(2) {
    left: -10%;
    bottom: -40%;
    scale: 0.9;
}

.sponsors .sponsors-container {
    padding: 48px 72px;
    position: relative;
    z-index: 115;
}

.sponsors .sponsors-container .sponsor-header {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    font-size: 76px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 15px;
}

@media screen and (max-width: 991px) {
    .sponsors .sponsors-container .sponsor-header {
        text-align: center;
        align-items: center;
        font-size: 56px;
    }
}

@media screen and (max-width: 769px) {
    .sponsors .sponsors-container .sponsor-header {
        font-size: 36px;
    }
}

@media screen and (max-width: 660px) {
    .sponsors .sponsors-container .sponsor-header {
        font-size: 28px;
    }
}

.sponsors .sponsors-container .sponsor-main-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-bottom: 100px;
    gap: 32px;
}

.sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main {
    height: 350px;
    width: 350px;
    z-index: 110;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
}

.sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 115;
    transition: opacity 0.5s;
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
}

.sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main:hover:before {
    opacity: 1;
}

.sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main.chief-sponsor {
    height: 450px;
    width: 450px;
}

.sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main img {
    flex-basis: 80%;
    height: 50%;
    width: 50%;
    object-fit: contain;
    object-position: center;
}

.sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main .sponsor-name {
    font-size: 36px;
    color: white;
    flex-basis: 20%;
}

.sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main .top-blur {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    opacity: 0.8;
    background: linear-gradient(#fe7c62, #f33456, #f33456, #974de0);
    filter: blur(20px) drop-shadow(0 0 25px #fe7c62);
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (max-width: 1260px) {
    .sponsors .sponsors-container .sponsor-main-flex {
        flex-direction: column;
        align-items: center;
    }

    .sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main:nth-child(1) {
        order: 2;
    }
}

@media screen and (max-width: 500px) {
    .sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main {
        width: 80vw;
    }

    .sponsors .sponsors-container .sponsor-main-flex .sponsor-item-main.chief-sponsor {
        width: 90vw;
    }
}

/*==========Sponsors Section End==========*/


/*==========Guests Section==========*/

.guests {
    position: relative;
    min-height: 100vh;
    /*background-color: #1d0728;*/
    /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    /*background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("https://w.wallhaven.cc/full/p8/wallhaven-p8lwvp.jpg"), center, no-repeat;*/
    background-size: cover;
}

.guests .blob:nth-child(1), .guests .blob.glow:nth-child(2) {
    right: -10%;
    bottom: 20%;
    scale: 0.9;
}

.guests .guests-container {
    padding: 48px 72px;
    position: relative;
    z-index: 115;
}

@media screen and (max-width: 500px) {
    .guests .guests-container {
        padding: 48px 32px;
    }
}

.guests .guests-container .guests-header {
    font-size: 76px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 32px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

@media screen and (max-width: 991px) {
    .guests .guests-container .guests-header {
        text-align: center;
    }
}

@media screen and (max-width: 769px) {
    .guests .guests-container .guests-header {
        font-size: 56px;
    }
}

@media screen and (max-width: 500px) {
    .guests .guests-container .guests-header {
        font-size: 36px;
    }
}

@media screen and (max-width: 390px) {
    .guests .guests-container .guests-header {
        font-size: 28px;
    }
}

.guests .guests-container .guests-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 32px 0;
    gap: 32px;
    place-items: center;
}

.guests .guests-container .guests-grid .guest-item {
    width: 80%;
    height: 600px;
    position: relative;
    padding: 24px;
    clip-path: none;
    display: inline-block;
}

@media screen and (max-width: 500px) {
    .guests .guests-container .guests-grid .guest-item {
        width: 100%;
    }
}

.guests .guests-container .guests-grid .guest-item.guest-chief {
    grid-column: 1/-1;
    height: 800px;
}

.guests .guests-container .guests-grid .guest-item.guest-chief-mb {
    display: none;
}

.guests .guests-container .guests-grid .guest-item.guest-chief .guest-content {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
}

.guests .guests-container .guests-grid .guest-item.guest-chief .guest-content > * {
    flex: 1;
}

.guests .guests-container .guests-grid .guest-item.guest-chief .guest-content .guest-img {
    height: 100%;
    position: relative;
}

.guests .guests-container .guests-grid .guest-item.guest-chief .guest-content .guest-img .guest-img-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
}

.guests .guests-container .guests-grid .guest-item.guest-chief .guest-content .guest-text .guest-img-fg {
    height: 400px;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
}

.guests .guests-container .guests-grid .guest-item.guest-chief .guest-content .guest-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.guests .guests-container .guests-grid .guest-item.guest-chief .guest-content .guest-text .guestName {
    font-size: 56px;
}

.guests .guests-container .guests-grid .guest-item .guest-item-framing-left {
    position: absolute;
    top: 0;
    left: -1%;
    height: 100%;
    width: 50px;
    border: 2px solid #fff;
    clip-path: inset(0 55% 96% 0);
}

.guests .guests-container .guests-grid .guest-item .guest-item-framing-right {
    position: absolute;
    top: 0;
    right: -1%;
    height: 100%;
    width: 50px;
    border: 2px solid #fff;
    clip-path: inset(96% 0 0 55%);
}

.guests .guests-container .guests-grid .guest-item:not(.guest-chief) {
    position: relative;
    padding: 10px 0;
}

.guests .guests-container .guests-grid .guest-item:not(.guest-chief) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
}

.guests .guests-container .guests-grid .guest-item:not(.guest-chief) .guest-content {
    position: absolute;
    bottom: 1.7%;
    left: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    clip-path: polygon(0 1.2em, 1.2em 0, 100% 0, 100% calc(100% - 1.2em), calc(100% - 1.2em) 100%, 0 100%);
}

.guests .guests-container .guests-grid .guest-item:not(.guest-chief) .guest-content .guestName {
    font-size: 36px;
}

@media screen and (max-width: 991px) {
    .guests .guests-container .guests-grid .guest-item.guest-chief {
        display: none;
    }

    .guests .guests-container .guests-grid .guest-item.guest-chief-mb {
        display: block;
    }

    .guests .guests-container .guests-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .guests .guests-container .guests-grid .guest-item.guest-chief {
        padding: 16px;
    }

    .guests .guests-container .guests-grid .guest-item.guest-chief .guest-content .guest-text .guest-img-fg {
        height: 500px;
    }
}

/*==========Guests Section End==========*/

