/*Progress Bar CSS*/

.progress-bar{
    position: relative;
    overflow: hidden;
    background-color: transparent;
    height: 50px;
    width: 350px;
    z-index: 100;
}

.progress-bar span{
    position: absolute;
    color: white;
    font-size: 24px;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%,-50%);
    transition: opacity 0.2s ease;
    animation: animate-opacity 1s ease infinite;
}

@keyframes animate-opacity {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }

}

.progress-bar .progress-bar-outer{
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #fff;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
    overflow: hidden;
}

.progress-bar .progress-bar-outer .progress-bar-inner{
    z-index: 100;
    position: absolute;
    inset: 0;
    margin: auto;
    height: 95%;
    width: 99%;
    background-color: black;
    clip-path: polygon(0 0.8em, 0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progress-bar .progress-bar-outer .progress-bar-inner span{
    color: black;
    animation: none;
}

.progress-bar .progress-bar-outer .progress-bar-inner .progress-bar-meter{
    height: 90%;
    background: #fff;
    color: black;
}

@media screen and (max-width: 380px) {
    .progress-bar{
        width: 280px;
    }
}
